# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sao Filipe,CV,14.8961,-24.4956,299.54,57,79,6.51,broken clouds
1,1,Rocha,UY,-34.4833,-54.3333,285.47,90,0,2.12,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,288.97,32,26,4.08,scattered clouds
3,3,Bethel,US,41.3712,-73.4140,280.64,61,1,0.45,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,296.24,85,42,4.94,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
11,11,Asau,RO,46.4333,26.4000,274.66,89,100,1.40,overcast clouds
15,15,Shadrinsk,RU,56.0852,63.6335,251.51,100,28,0.17,scattered clouds
17,17,Thompson,CA,55.7435,-97.8558,268.86,97,100,2.51,overcast clouds
19,19,Verkh-Usugli,RU,52.7000,115.1667,255.13,91,15,0.36,few clouds
34,34,Kodiak,US,57.7900,-152.4072,273.29,76,100,3.96,overcast clouds
36,36,Provideniya,RU,64.3833,-173.3000,263.21,52,40,10.00,scattered clouds
39,39,Batsfjord,NO,70.6345,29.7185,271.03,100,20,4.12,few clouds
41,41,Beringovskiy,RU,63.0500,179.3167,251.06,95,6,4.40,clear sky
49,49,Nome,US,64.5011,-165.4064,267.13,93,100,2.15,overcast clouds
52,52,Nuuk,GL,64.1835,-51.7216,263.41,93,86,2.20,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
11,11,Asau,RO,46.4333,26.4000,274.66,89,100,1.40,overcast clouds
15,15,Shadrinsk,RU,56.0852,63.6335,251.51,100,28,0.17,scattered clouds
17,17,Thompson,CA,55.7435,-97.8558,268.86,97,100,2.51,overcast clouds
19,19,Verkh-Usugli,RU,52.7000,115.1667,255.13,91,15,0.36,few clouds
34,34,Kodiak,US,57.7900,-152.4072,273.29,76,100,3.96,overcast clouds
36,36,Provideniya,RU,64.3833,-173.3000,263.21,52,40,10.00,scattered clouds
39,39,Batsfjord,NO,70.6345,29.7185,271.03,100,20,4.12,few clouds
41,41,Beringovskiy,RU,63.0500,179.3167,251.06,95,6,4.40,clear sky
49,49,Nome,US,64.5011,-165.4064,267.13,93,100,2.15,overcast clouds
52,52,Nuuk,GL,64.1835,-51.7216,263.41,93,86,2.20,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Description","Lat","Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp       Description      Lat       Lng
11          Asau      RO    274.66   overcast clouds  46.4333   26.4000
15     Shadrinsk      RU    251.51  scattered clouds  56.0852   63.6335
17      Thompson      CA    268.86   overcast clouds  55.7435  -97.8558
19  Verkh-Usugli      RU    255.13        few clouds  52.7000  115.1667
34        Kodiak      US    273.29   overcast clouds  57.7900 -152.4072
36   Provideniya      RU    263.21  scattered clouds  64.3833 -173.3000
39     Batsfjord      NO    271.03        few clouds  70.6345   29.7185
41  Beringovskiy      RU    251.06         clear sky  63.0500  179.3167
49          Nome      US    267.13   overcast clouds  64.5011 -165.4064
52          Nuuk      GL    263.41   overcast clouds  64.1835  -51.7216

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
11,Asau,RO,274.66,overcast clouds,46.4333,26.4000,
15,Shadrinsk,RU,251.51,scattered clouds,56.0852,63.6335,
17,Thompson,CA,268.86,overcast clouds,55.7435,-97.8558,
19,Verkh-Usugli,RU,255.13,few clouds,52.7000,115.1667,
34,Kodiak,US,273.29,overcast clouds,57.7900,-152.4072,
36,Provideniya,RU,263.21,scattered clouds,64.3833,-173.3000,
39,Batsfjord,NO,271.03,few clouds,70.6345,29.7185,
41,Beringovskiy,RU,251.06,clear sky,63.0500,179.3167,
49,Nome,US,267.13,overcast clouds,64.5011,-165.4064,
52,Nuuk,GL,263.41,overcast clouds,64.1835,-51.7216,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
11,Asau,RO,274.66,overcast clouds,46.4333,26.4000,Casa Mika Ciobanus
15,Shadrinsk,RU,251.51,scattered clouds,56.0852,63.6335,Ural
17,Thompson,CA,268.86,overcast clouds,55.7435,-97.8558,Burntwood Hotel
19,Verkh-Usugli,RU,255.13,few clouds,52.7000,115.1667,"Gostinitsa ""Sever"""
34,Kodiak,US,273.29,overcast clouds,57.7900,-152.4072,Best Western Kodiak Inn
36,Provideniya,RU,263.21,scattered clouds,64.3833,-173.3000,
39,Batsfjord,NO,271.03,few clouds,70.6345,29.7185,Adventure Apartements
41,Beringovskiy,RU,251.06,clear sky,63.0500,179.3167,
49,Nome,US,267.13,overcast clouds,64.5011,-165.4064,Dredge 7 Inn
52,Nuuk,GL,263.41,overcast clouds,64.1835,-51.7216,Vandrehuset

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
11,Asau,RO,274.66,overcast clouds,46.4333,26.4000,Casa Mika Ciobanus
15,Shadrinsk,RU,251.51,scattered clouds,56.0852,63.6335,Ural
17,Thompson,CA,268.86,overcast clouds,55.7435,-97.8558,Burntwood Hotel
19,Verkh-Usugli,RU,255.13,few clouds,52.7000,115.1667,"Gostinitsa ""Sever"""
34,Kodiak,US,273.29,overcast clouds,57.7900,-152.4072,Best Western Kodiak Inn
36,Provideniya,RU,263.21,scattered clouds,64.3833,-173.3000,
39,Batsfjord,NO,271.03,few clouds,70.6345,29.7185,Adventure Apartements
41,Beringovskiy,RU,251.06,clear sky,63.0500,179.3167,
49,Nome,US,267.13,overcast clouds,64.5011,-165.4064,Dredge 7 Inn
52,Nuuk,GL,263.41,overcast clouds,64.1835,-51.7216,Vandrehuset

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °K</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa Mika Ciobanus</dd>\n<dt>City</dt><dd>Asau</dd>\n<dt>Country</dt><dd>RO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 274.66 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ural</dd>\n<dt>City</dt><dd>Shadrinsk</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 251.51 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Burntwood Hotel</dd>\n<dt>City</dt><dd>Thompson</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 268.86 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gostinitsa "Sever"</dd>\n<dt>City</dt><dd>Verkh-Usugli</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>few clouds and 255.13 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Kodiak Inn</dd>\n<dt>City</dt><dd>Kodiak</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 273.29 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Provideniya</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 263.21 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Adventure Apartements</dd>\n<dt>City</dt><dd>Batsfjord</dd>\n<dt>Country</dt><dd>NO</dd>\n<dt>Current Weather</dt><dd>few clouds and 271.03 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Beringovskiy</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 251.06 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dredge 7 Inn</dd>\n<dt>City</dt><dd>Nome</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 267.13 °K</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vandrehuset</dd>\n<dt>City</dt><dd>Nuuk</dd>\n<dt>Country</dt><dd>GL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 263.41 °K</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
11  46.4333   26.4000
15  56.0852   63.6335
17  55.7435  -97.8558
19  52.7000  115.1667
34  57.7900 -152.4072
36  64.3833 -173.3000
39  70.6345   29.7185
41  63.0500  179.3167
49  64.5011 -165.4064
52  64.1835  -51.7216

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))